* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --dark: #000;
  --secondary-dark: #1d1d1d;
  --secondary: #682ae9;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a,
p,
span,
body,
button {
  font: 400 1rem 'Roboto Mono', monospace;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
}

body {
  background: var(--dark);
}

/*RESPONSIVE*/
@media (max-width: 768px) {
  h1 {
    font-size: 2rem !important;
  }
}
