* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --dark: #000;
  --secondary-dark: #1d1d1d;
  --secondary: #682ae9;
}

img,
svg {
  display: block;
  max-width: 100%;
}

h1,
a,
p,
span,
body,
button {
  font: 400 1rem 'Roboto Mono', monospace;
}

body {
  background: var(--dark);
}
